@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700");
body
{
    font-family:"Roboto",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
div.gold_box {
    background-color: #bd8758;
    color: #fff;
    padding: 2em;
    padding-bottom: 2.2em;
    margin-bottom: 3em;
    font-size: 1.4em;
    text-align: center;
}
div.red_box {
    background-color: #ab1d21;
    color: #fff;
    padding: 2em;
    padding-bottom: 2.2em;
    margin-bottom: 3em;
    font-size: 1.4em;
    text-align: center;
}
